<a href="https://colab.research.google.com/github/mmartigani/MachineLearning2/blob/main/ML3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cuidades = ["españa", "tokio", "paris", "sidney", "argentina"]
print(cuidades[0])
print(cuidades[-1])

españa
argentina

In [2]:
numeros = [1,2,3,4,5]
print(numeros)

[1, 2, 3, 4, 5]

In [4]:
numeros.append(6)
print(numeros)

[1, 2, 3, 4, 5, 6, 6]

In [5]:
numeros.pop(0)
print(numeros)

[2, 3, 4, 5, 6, 6]

In [6]:
numeros.insert(1,7)
print(numeros)

[2, 7, 3, 4, 5, 6, 6]

In [7]:
numeros.sort()
print(numeros)

[2, 3, 4, 5, 6, 6, 7]

In [8]:
lista1 = [1,2,3]
lista2 = [4,5,6]
combinada = lista1 + lista2
print(combinada)

[1, 2, 3, 4, 5, 6]

In [9]:
repetida= lista1 *3
print(repetida)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
sublista=combinada[1:4]
print(sublista)

[2, 3, 4]

In [11]:
mi_tupla =(10,20,30)
print(mi_tupla)

(10, 20, 30)

In [12]:
datos_personales = ("maria", "perez",35 ,"ingeniera")
nombre=datos_personales[0]
profesion = datos_personales[3]
print(f"{nombre} es {profesion}")

maria es ingeniera

In [15]:
info_ciudades = (("buenos aires",3000000, "argentina"),
                 ("madrid",3200000, "españa"),
                 ("tokio", 13939451, "japon"))
nombre1=info_ciudades[0][0]
poblacion1=info_ciudades[0][1]
pais1=info_ciudades[0][2]
print(f"la cuidad de {nombre1}, en {pais1} tien una poblacion de {poblacion1}")
nombre2 = info_ciudades[1][0]
poblacion2 = info_ciudades[1][1]
pais2 = info_ciudades[1][2]
print(f"La ciudad de {nombre2} en {pais2} tiene una población de {poblacion2} habitantes")

nombre3 = info_ciudades[2][0]
poblacion3 = info_ciudades[2][1]
pais3 = info_ciudades[2][2]
print(f"La ciudad de {nombre3} en {pais3} tiene una población de {poblacion3} habitantes")

la cuidad de buenos aires, en argentina tien una poblacion de 3000000
La ciudad de madrid en españa tiene una población de 3200000 habitantes
La ciudad de tokio en japon tiene una población de 13939451 habitantes

In [16]:
mi_diccionario={"manzana":"verde",
                "banana":"amarilla",
                "pera":"celeste"}
print(mi_diccionario)

{'manzana': 'verde', 'banana': 'amarilla', 'pera': 'celeste'}

In [18]:
edades={"juan":28, "elena":35, "marcos":17}
print(edades["elena"])
print(edades["juan"])
print(edades["marcos"])

35
28
17

In [22]:
productos = {"manzana":0.40, "banana":0.5,"cereza":0.80}
claves =productos.keys()
print(claves)
valores =productos.values()
print(valores)
productos["cereza"]=0.60
print(productos)
print(productos.keys(), productos.values())

dict_keys(['manzana', 'banana', 'cereza'])
dict_values([0.4, 0.5, 0.8])
{'manzana': 0.4, 'banana': 0.5, 'cereza': 0.6}
dict_keys(['manzana', 'banana', 'cereza']) dict_values([0.4, 0.5, 0.6])

In [23]:
num1=9
num2=3
resultado = num1 > num2
print(resultado)

True

In [25]:
con1=True
con2=False
con3=True
resultado=(con1 and con3)or con2
print(resultado)

True

In [26]:
a=5
b=3
c=8
print(a>b and b<c)

True

In [27]:
edad=20
if edad > 18:
  print(f"tienes {edad} años eres mayor de edad")

tienes 20 años eres mayor de edad

In [28]:
usuario="admin"
passw="abc123"
if usuario == "admin" and passw == "abc123":
  print("acceso autorizado")

acceso autorizado

In [30]:
amigos = ["juan","ana", "laura"]
nombre="juan"
if nombre in amigos:
  print(nombre + " esta en mi grupo")

juan esta en mi grupo

In [31]:
edad=17
if edad >=18:
  print(f"tienes {edad} eres mayor")
else:
  print(f"tienes {edad} eres menor")

tienes 17 eres menor

In [32]:
nota = 10
if nota >10:
  print("no valida")
elif nota >=9:
  print("excelente")
elif nota >=7:
  print("notable")
elif nota >=5:
  print("aprobado")
else:
  print("desaprobado")

excelente

In [40]:
agenda={}
print("agenda de contactos")
print("--------------------")
print("1.añadir contacto")
print("2.buscar contacto")
print("3.editar contacto")
print("4.eliminar contacto")
print("5.mostrar contacto")

eleccion = input("elige una opcion del menu: ")
if eleccion == "1":
  nombre=input("nombre de contacto: ")
  celular=input("ingrese el nro de celular: ")
  agenda[nombre]=celular
  print("el contacto fue agregado")
elif eleccion == "2":
  nombre=input("nombre de contacto: ")
  if nombre in agenda:
    print(f"el celular es {nombre} es {agenda[nombre]}")
  else:
    print("ese contacto no existe")
elif eleccion == "3":
  nombre=input("nombre de contacto: ")
  if nombre in agenda:
    nuevo_numero=input("ingrese el nuevo numero: ")
    agenda[nombre]=nuevo_numero
    print(f"el nuevo cel de {nombre} es {agenda[nombre]}")
  else:
    print("ese contacto no existe")

elif eleccion == "4":
  nombre=input("nombre de contacto: ")
  if nombre in agenda:
    agenda.pop(nombre)
    print("el contacto fue eliminado")
  else:
    print("ese contacto no existe")
elif eleccion == "5":
  print(agenda)
else:
  print("opcion invalida")

agenda de contactos
--------------------
1.añadir contacto
2.buscar contacto
3.editar contacto
4.eliminar contacto
5.mostrar contacto
elige una opcion del menu: 2
nombre de contacto: marco
ese contacto no existe