<a href="https://colab.research.google.com/github/mmartigani/MachineLearning2/blob/main/ML4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numeros = [1,2,3,4,5]
for i in numeros:
  print(i)

1
2
3
4
5

In [2]:
paises = ["argentina", "argelia", "madrid", "uk"]
for pais in paises:
  if "a" in pais:
    print(pais)

argentina
argelia
madrid

In [4]:
colores = ["azul", "amarillo", "rojo"]
prendas = ["pantalon", "zapato", "camisa"]
for color in colores:
  for prenda in prendas:
    print(prenda, color)

pantalon azul
zapato azul
camisa azul
pantalon amarillo
zapato amarillo
camisa amarillo
pantalon rojo
zapato rojo
camisa rojo

In [5]:
rango_pares = range(2,21,2)
for n in rango_pares:
  print(n)

2
4
6
8
10
12
14
16
18
20

In [6]:
suma = 0
for numero in range (1,101):
  suma += numero
print(f"la suma de los 100 numeros es {suma}")

la suma de los 100 numeros es 5050

In [7]:
cadena = "aprendizaje"
for i in range(len(cadena)):
  print(f"indice {i} de la {cadena[i]}")

indice 0 de la a
indice 1 de la p
indice 2 de la r
indice 3 de la e
indice 4 de la n
indice 5 de la d
indice 6 de la i
indice 7 de la z
indice 8 de la a
indice 9 de la j
indice 10 de la e

In [8]:
contador = 1
while contador <=10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

In [9]:
i=0
while i <= 15:
  if i == 5 or i == 10:
    i+=1
    continue
  print(i)
  i+= 1

0
1
2
3
4
6
7
8
9
11
12
13
14
15

In [10]:
contador = 1
while contador >= 1:
  print(contador)
  if contador % 4 ==0:
    break
  contador += 1

1
2
3
4

In [11]:
def mensaje():
  print("hello word")
mensaje()

hello word

In [12]:
def saludar(nombre):
  print(f"hola {nombre}")
saludar("marco")

hola marco

In [14]:
def solicitar():
  nombre = input("ingrese su nombre: ")
  return nombre
def saludar():
  nombre=solicitar()
  print(f"hola {nombre}")
saludar()

ingrese su nombre: marquito
hola marquito

In [15]:
def num():
  num1=int(input("ingrese el primer numero: "))
  num2=int(input("ingrese el segundo numero: "))
  return num1, num2
num()

ingrese el primer numero: 7
ingrese el segundo numero: 47

(7, 47)

In [16]:
#generador de tablas de multiplicar
def generar_tablas(numero, limite):
  for n in range( 1, limite +1):
    print(f"{numero} x {n} = {numero * n}")

In [19]:
def inicio():
  while True:
    print("\ngenera la tabla\n")
    num = int(input("ingrese el numero: "))
    lim = int(input("cantidad de veces: "))
    generar_tablas(num, lim)
    otra= input("calcular mas tablas (s/n): ")
    if otra != "s":
      break

In [20]:
inicio()

genera la tabla

ingrese el numero: 7
cantidad de veces: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
calcular mas tablas (s/n): n